:root {
	--library-black: #19181A;
	--library-green: #479761;
	--library-pink: #A16E83;
	--library-light-pink: #f5afc7;
	--library-yellow: #CEBC81;
	--library-white: ghostwhite;
	font-size: 12px;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	color: var(--library-white);
	background-color: var(--library-black);
}

h1 {
	color: var(--library-green);
	text-align: center;
	font-size: 3rem;
}

img {
	width: 80px;
}

header {
	display: flex;
	align-items: center;
	width: 80vw;
	justify-content: center;
	gap: 5vw;
	margin: 3vh auto;
}

.library-wrapper {
	width: min(1000px, 90vw);
	height: 80vh;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3vw;
}

.book-card {
	background: rgb(148,233,176);
	background: radial-gradient(circle, rgba(148,233,176,1) 0%, rgba(245,175,199,1) 100%);
	border-radius: 1rem;
	aspect-ratio: 1 / 1.25;
}