@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
	--library-black: #19181A;
	--library-green: #479761;
	--library-pink: #A16E83;
	--library-light-pink: #f5afc7;
	--library-yellow: #CEBC81;
	--library-white: ghostwhite;
	font-size: 16px;
	font-family: 'Crimson Text', serif;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	color: var(--library-white);
}

body {
	position: relative;
	background-color: var(--library-black);
}

h1 {
	color: var(--library-green);
	text-align: center;
	font-size: calc(2rem + 2.5vw);
	vertical-align: middle;
}

img {
	width: calc(40px + 2vw);
}

@keyframes background-pan {
	from {
			background-position: 0% center;
	}
	to {
			background-position: -300% center;
	}
}

header {
	display: flex;
	align-items: center;
	width: 80vw;
	justify-content: center;
	gap: 5vw;
	margin: 3vh auto;
	animation: background-pan 8s linear infinite;
	background-image: linear-gradient(69deg, var(--library-green), var(--library-light-pink), var(--library-pink), var(--library-green));
	background-size: 300%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.library-wrapper {
	width: min(800px, 85vw);
	height: 80vh;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3vw;
}

.book-card {
	background: rgb(148,233,176);
	background: radial-gradient(circle, rgba(245,175,199,1) 10%, rgba(148,233,176,1) 100%);
	border-radius: 0.6rem;
	aspect-ratio: 1 / 1.25;
	border: 6px double var(--library-black);
	display: grid;
	grid-template: 3fr 3fr 2fr 2fr / 1fr;
}

.book-title, .book-author, .page-count {
	background: none;
	color: var(--library-black);
	margin: 3% 3%;
}

.page-count {
	font-size: 16px;
}

.book-card:hover {
	box-shadow: 2px 2px 4px #47976145;
	filter: saturate(1.4);
}

.button-wrapper {
	display: flex;
	justify-content: space-between;
}

.have-read {
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: var(--library-black);
	gap: 4px;
	margin-left: 8px;
}

.delete-book {
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: var(--library-black);
	margin-right: 8px;
	gap: 4px;
}

svg {
	stroke: var(--library-black);
	stroke-width: 2px;
	flex: 1 0 auto;
}

.add-book {
	background: rgb(148,233,176);
	background: linear-gradient(22deg, rgba(148,233,176,1) 0%, rgba(245,175,199,1) 100%);
	position: fixed;
	bottom: 3vh;
	right: 5vw;
	font-weight: 600;
	padding: 1rem 1.5rem;
	border-radius: 0.6rem;
	color: var(--library-black);
	font-size: 2rem;
	border: 6px double var(--library-black);
}

.add-book-modal {
	display: none;
	position: fixed;
	z-index: 1;
	right: calc(5vw + 5px);
	bottom: calc(3vh + 100px);
	width: min(400px, 80vw);
	height: min(500px, 75vh);
	overflow: auto;
	background-color: var(--library-black);
	box-shadow: 0 0 10px 1px var(--library-light-pink);
}

.add-book-modal.active {
	display: block;
}

.form-wrapper {
	display: grid;
	height: 95%;
	margin: 0.75rem;
	grid-template: 1fr 7fr / 5fr 1fr;
}

.form-header {
	font-size: 2.25rem;
}

.close-modal {
	font-size: 2rem;
	margin-left: auto;
}

.add-book-form {
	display: grid;
	grid-template: 3fr 3fr 3fr 3fr 2fr / 1fr;
}

.add-book-form label {
	display: block;
	font-size: 1.5rem;
}

.add-book-form label input {
	display: block;
	height: 2rem;
	width: 80%;
	padding-left: 0.5rem;
	color: var(--library-black);
	border-radius: 0.25rem;
}

.add-book:hover {
	box-shadow: 0 0 10px 1px #A16E8345;
	filter: saturate(1.5)
}

@media screen and (max-width: 700px) {
	.library-wrapper {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: min-content;
	}
}

@media screen and (max-width: 420px) {
	.library-wrapper {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: min-content;
		width: 65vw;
	}
}

@media screen and (max-height: 500px) {
	.library-wrapper {
		width: 70vw;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: min-content;
	}
}

@media screen and (max-width: 350px) {
	.h1 {
		font-size: 0.5rem;
	}
}